.linea:hover{
  background-color: #FFFF66;
}



.div:hover{
  background-color: aquamarine;
}

/* 
.amarillo:hover{
  background-color: rgba(230, 230, 123, 0.3) ;
} */


img{
  width: 16px ;
  
}
.axul:hover{
  cursor: pointer;
  background-color: rgb(176, 176, 250,0.3) ;
}

.axul{
  background-color: rgb(148, 148, 195);
}

